.header
	&__information
		background-color: set-color(accent)
		padding: 12px 0
		&-socials
			margin-right: 75px
			ul
				padding: 0
				margin: 0
				list-style-type: none
				font-size: 0
				li
					display: inline-block
					margin-right: 9px
					&:last-child
						margin: 0
					a
						display: block
						text-decoration: none
						img
							max-width: 25px
		&-languages
			margin-right: 105px
			ul
				padding: 0
				margin: 0
				list-style-type: none
				font-size: 0
				li
					display: inline-block
					margin-right: 12px
					&:last-child
						margin: 0
					a
						font-size: 14px
						text-decoration: none
						text-transform: uppercase
						color: #fff
		&-search
			position: relative
			button
				display: inline-block
				background-color: transparent
				border: none
				outline: 0
				img
					max-width: 25px
			input
				display: none
				font-family: $semibold
				font-size: 16px
				border: 1px solid #fff
				background-color: transparent
				padding: 2px 15px
				color: #fff
				&::placeholder
					font-size: 14px
					color: #fff
	&__bottom
		background-color: #878787
		transition: .5s ease
		&.fixed
			position: fixed
			top: 0
			width: 100%
			z-index: 10
			.header__bottom-logo 
				img
					max-width: 80px
		&-logo
			img
				max-width: 90px
				transition: .25s ease
		&-navigation
			ul
				padding: 0
				margin: 0
				list-style-type: none
				font-size: 0
				li
					display: inline-block
					margin-right: 41px
					&:last-child
						margin: 0
					a
						display: block
						font-size: 14px
						text-transform: uppercase
						text-decoration: none
						color: #fff